In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os.path as path

JSON_PATH = path.join('/app','data', 'prs_por_orga_por_anio_filtrados.json')
print(JSON_PATH)

print('Reading data')
df = pd.read_json(JSON_PATH, lines=True)
print('Done')

/app/data/prs_por_orga_por_anio_filtrados.json
Reading data
Done

In [2]:
df.head()

,_id,month,year,organizationUrl,countStar
0,{'$oid': '5f9612435bacc72c71bfe8dc'},9,2019,"""https://github.com/Pandinosaurus""",8448
1,{'$oid': '5f9612435bacc72c71bfe8dd'},7,2019,"""https://github.com/Mattlk13""",14890
2,{'$oid': '5f9612435bacc72c71bfe8de'},11,2019,"""https://github.com/Pandinosaurus""",8377
3,{'$oid': '5f9612435bacc72c71bfe8df'},12,2019,"""https://github.com/Pandinosaurus""",7739
4,{'$oid': '5f9612435bacc72c71bfe8e0'},11,2019,"""https://github.com/NeatNerdPrime""",6182

In [4]:
month_range = pd.period_range(start='2015-01-01', end='2020-12-01', freq='M')
month_range

PeriodIndex(['2015-01', '2015-02', '2015-03', '2015-04', '2015-05', '2015-06',
             '2015-07', '2015-08', '2015-09', '2015-10', '2015-11', '2015-12',
             '2016-01', '2016-02', '2016-03', '2016-04', '2016-05', '2016-06',
             '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12',
             '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06',
             '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12',
             '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06',
             '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12',
             '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06',
             '2019-07', '2019-08', '2019-09', '2019-10', '2019-11', '2019-12',
             '2020-01', '2020-02', '2020-03', '2020-04', '2020-05', '2020-06',
             '2020-07', '2020-08', '2020-09', '2020-10', '2020-11', '2020-12'],
            dtype='period[M]', freq='M')

In [11]:
pd.pivot_table(df, values='countStar', index=['year', 'month'], columns=['organizationUrl'], aggfunc=sum, margins=True)

     NaN
     2                                     NaN                        NaN
     3                                     NaN                        NaN
     4                                     NaN                        NaN
     5                                     NaN                        NaN
     6                                     NaN                        NaN
     7                                     NaN                        NaN
     8                                     NaN                        NaN
     9                                     NaN                        NaN
     10                                    NaN                        NaN
     11                                    NaN                        NaN
     12                                    NaN                        NaN
2018 2                                     NaN                        NaN
     3                                     NaN                        NaN
     4                                     NaN                        NaN
     5                                     NaN                        NaN
     6                                     NaN                        NaN
     7                                     NaN                        NaN
     8                                     NaN                        NaN
     9                                     NaN                        NaN
     10                                    NaN                        NaN
     11                                    NaN                        NaN
     12                                    NaN                        NaN
2019 1                                     NaN                        NaN
     2                                     NaN                        NaN
     3                                     NaN                        NaN
     4                                     NaN                      525.0
     5                                     NaN                        NaN
     6                                     NaN                        NaN
     7                                     NaN                      603.0
     8                                     NaN                        NaN
     9                                     NaN                        NaN
     10                                    NaN                        NaN
     11                                    NaN                        NaN
     12                                  506.0                        NaN
2020 1                                     NaN                        NaN
All                                      506.0                     1128.0

organizationUrl  "https://github.com/zephyrproject-rtos"  \
year month
2016 1                                               NaN
     2                                               NaN
     3                                               NaN
     4                                               NaN
     5                                               NaN
     6                                               NaN
     7                                               NaN
     8                                               NaN
     9                                               NaN
     10                                              NaN
     11                                              NaN
     12                                              NaN
2017 1                                               NaN
     2                                               NaN
     3                                               NaN
     4                                               NaN
     5                                               NaN
     6                                               NaN
     7                                               NaN
     8                                               NaN
     9                                               NaN
     10                                              NaN
     11                                              NaN
     12                                              NaN
2018 2                                               NaN
     3                                               NaN
     4                                               NaN
     5                                               NaN
     6                                               NaN
     7                                               NaN
     8                                               NaN
     9                                               NaN
     10                                              NaN
     11                                              NaN
     12                                              NaN
2019 1                                               NaN
     2                                             618.0
     3                                             607.0
     4                                               NaN
     5                                               NaN
     6                                               NaN
     7                                               NaN
     8                                               NaN
     9                                               NaN
     10                                              NaN
     11                                              NaN
     12                                              NaN
2020 1                                               NaN
All                                               1225.0

organizationUrl  "https://github.com/zero-to-mastery"  \
year month
2016 1                                            NaN
     2                                            NaN
     3                                            NaN
     4                                            NaN
     5                                            NaN
     6                                            NaN
     7                                            NaN
     8                                            NaN
     9                                            NaN
     10                                           NaN
     11                                           NaN
     12                                           NaN
2017 1                                            NaN
     2                                            NaN
     3                                            NaN
     4                                            NaN
     5                                            NaN
     6                                            NaN
     7                                            NaN
     8                                            NaN
     9                                            NaN
     10                                           NaN
     11                                           NaN
     12                                           NaN
2018 2                                            NaN
     3                                            NaN
     4                                            NaN
     5                                            NaN
     6                                            NaN
     7                                            NaN
     8                                            NaN
     9                                            NaN
     10                                         689.0
     11                                           NaN
     12                                           NaN
2019 1                                            NaN
     2                                            NaN
     3                                            NaN
     4                                            NaN
     5                                            NaN
     6                                            NaN
     7                                            NaN
     8                                            NaN
     9                                            NaN
     10                                        1175.0
     11                                           NaN
     12                                           NaN
2020 1                                            NaN
All                                            1864.0

organizationUrl  "https://github.com/zhiiker"  "https://github.com/zrrrzzt"  \
year month
2016 1                                    NaN                           NaN
     2                                    NaN                           NaN
     3                                    NaN                           NaN
     4                                    NaN                           NaN
     5                                    NaN                           NaN
     6                                    NaN                           NaN
     7                                    NaN                           NaN
     8                                    NaN                           NaN
     9                                    NaN                           NaN
     10                                   NaN                           NaN
     11                                   NaN                           NaN
     12                                   NaN                           NaN
2017 1                                    NaN                           NaN
     2                                    NaN                           NaN
     3                                    NaN                           NaN
     4                                    NaN                           NaN
     5                                    NaN                           NaN
     6                                    NaN                           NaN
     7                                    NaN                           NaN
     8                                    NaN                           NaN
     9                                    NaN                           NaN
     10                                   NaN                           NaN
     11                                   NaN                           NaN
     12                                   NaN                           NaN
2018 2                                    NaN                           NaN
     3                                    NaN                           NaN
     4                                    NaN                           NaN
     5                                    NaN                         512.0
     6                                    NaN                           NaN
     7                                    NaN                           NaN
     8                                    NaN                           NaN
     9                                    NaN                           NaN
     10                                   NaN                           NaN
     11                                   NaN                           NaN
     12                                   NaN                           NaN
2019 1                                    NaN                           NaN
     2                                    NaN                           NaN
     3                                    NaN                           NaN
     4                                    NaN                           NaN
     5                                    NaN                         588.0
     6                                    NaN                           NaN
     7                                    NaN                           NaN
     8                                    NaN                           NaN
     9                                    NaN                         532.0
     10                                1230.0                           NaN
     11                                1091.0                           NaN
     12                                1008.0                           NaN
2020 1                                    NaN                           NaN
All                                    3329.0                        1632.0

organizationUrl  "https://github.com/zulip"  "https://github.com/zxlhhyccc"  \
year month
2016 1                                  NaN                             NaN
     2                                  NaN                             NaN
     3                                  NaN                             NaN
     4                                  NaN                             NaN
     5                                  NaN                             NaN
     6                                  NaN                             NaN
     7                                  NaN                             NaN
     8                                  NaN                             NaN
     9                                  NaN                             NaN
     10                                 NaN                             NaN
     11                                 NaN                             NaN
     12                                 NaN                             NaN
2017 1                                  NaN                             NaN
     2                                  NaN                             NaN
     3                                  NaN                             NaN
     4                                  NaN                             NaN
     5                                  NaN                             NaN
     6                                  NaN                             NaN
     7                                  NaN                             NaN
     8                                  NaN                             NaN
     9                                  NaN                             NaN
     10                                 NaN                             NaN
     11                                 NaN                             NaN
     12                               515.0                             NaN
2018 2                                  NaN                             NaN
     3                                  NaN                             NaN
     4                                  NaN                             NaN
     5                                  NaN                             NaN
     6                                  NaN                             NaN
     7                                  NaN                             NaN
     8                                  NaN                             NaN
     9                                  NaN                             NaN
     10                                 NaN                             NaN
     11                                 NaN                             NaN
     12                                 NaN                             NaN
2019 1                                  NaN                             NaN
     2                                  NaN                             NaN
     3                                  NaN                             NaN
     4                                  NaN                             NaN
     5                                  NaN                             NaN
     6                                  NaN                             NaN
     7                                  NaN                             NaN
     8                                  NaN                             NaN
     9                                  NaN                             NaN
     10                                 NaN                             NaN
     11                                 NaN                           532.0
     12                                 NaN                           602.0
2020 1                                  NaN                             NaN
All                                   515.0                          1134.0

organizationUrl  "https://github.com/zys-contribs"      All
year month
2016 1                                         NaN    17563
     2                                         NaN    19591
     3                                         NaN    26282
     4                                         NaN    25736
     5                                         NaN    29028
     6                                         NaN    29176
     7                                         NaN    27269
     8                                         NaN    36000
     9                                         NaN    33022
     10                                        NaN    33628
     11                                        NaN    32623
     12                                        NaN    25286
2017 1                                         NaN    37387
     2                                         NaN    38149
     3                                         NaN    47141
     4                                         NaN    38121
     5                                         NaN    45486
     6                                         NaN    43802
     7                                         NaN    35434
     8                                         NaN    46130
     9                                         NaN    39035
     10                                        NaN    54700
     11                                        NaN    47064
     12                                        NaN    33913
2018 2                                         NaN    45033
     3                                         NaN    61135
     4                                         NaN    34882
     5                                         NaN    43760
     6                                         NaN    51854
     7                                         NaN    49942
     8                                         NaN    59831
     9                                         NaN    55478
     10                                        NaN    86929
     11                                        NaN    67627
     12                                      622.0    55057
2019 1                                         NaN      520
     2                                      1131.0    95257
     3                                      1292.0   114287
     4                                       989.0   104444
     5                                      1365.0   146142
     6                                      1507.0   147304
     7                                      1528.0   187910
     8                                      1286.0   163253
     9                                         NaN   155403
     10                                        NaN   220692
     11                                      620.0   206302
     12                                        NaN   181707
2020 1                                         NaN    53715
All                                        10340.0  3230030

[49 rows x 450 columns]